.header, .hero, .body, .bar, .footer{
	margin-bottom: 10px; 
	padding: 10px 0;
	background-color: gray;
}
.box{
	margin-bottom: 4px;
	min-height: 70px;
	background-color: green;
	border: 10px solid black;
	font-size: 50px;
	color: white;
}
.white{
	background-color: red;
}




